@font-face {
    font-family: 'ShareTechMono-Regular';
    src: url('css\Fonts\ShareTechMono-Regular.tff') format('truetype');
}

@font-face {
    font-family: 'Calibre-SemiBold';
    src: url('css\Fonts\Calibre-SemiBold.ttf') format('truetype');
}

html, body { margin: 0; }

div {
    background-color: #011C26;
    height: 100%;
    width: 100%;
}

.outerDiv {
    height: 100%;
    margin: 0 auto;
    width: 80vw;
}


.flexbox-container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: left;
    margin: 50px 0px 50px 0px;
    width: 100%;
}

.flexbox-item {
    background-color: red;
    margin: 0 10px 0 10px;
    width: 200px;
}

.flexbox-item1 {
    align-self: flex-end;
    height: 70%;
    justify-content: left;
    margin: 0 10px 0 0;
    width: 30%;
}

h3 {
    color: cadetblue;
    font-family: 'Calibre-SemiBold', sans-serif;
    font-size: 1.3em;
    font-size: 15.6px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    margin: 1em 0em 0em 1em;
    vertical-align: baseline;
    word-spacing: 0px;
}

.flexbox-item2 { width: 40%; }

.flexbox-item3 {
    justify-content: right;
    margin: 0 0 0 10px;
    width: 30%;    
}

.container2 {
    display: flex;
    height: 600px;
}