body {
    background-color: black;
}

.mainframe {
    background-color: red;
    height: 100vh;
    width: 77vw;
    
}



.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overflow-style: none;
    
}

.outer-wrapper::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 350vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    
    
}

.card {
    width: 60vw;
    height: 60vh;
    margin: 20vh 0 0 10vw;

}

.card:first-of-type {
    margin-left: 100vw;
}

@media(max-width: 767px) {
    .reset-this {
        all: revert;
    }
    body {
        width: 100vw;
    }

    .mainframe {
        background-color: red;
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .outer-wrapper {
        width: 100vw;
        height: 100vh;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        background-color: green;
        width: 80vw;
        margin: 0 10vw 0 10vw;
        align-items: center;
        height: 100vh;
    }

    .card {
        margin: 0 0 .5vh 0;
        height: 20vh;
        width: 100%;
    }

    .card:first-of-type {
        margin: 24vh 0 .5vh 0;
    }

    .card:last-of-type {
        height: 33%;
    }
}

@media(max-height: 600px) {
    .outer-wrapper {
        display: flex;
        background-color: black;
        justify-content: center;
    }
    .wrapper {
        margin: 0 2vw 0 2vw;
        height: 187vh;
        width: 90%;
    }
    .card {
        height: 30vh;
    }

    .card:first-of-type {
        margin: 35vh 0 .5vh 0;
    }

    .card:last-of-type {
        height: 29%;
    }
}

@media(max-height: 824px){
    .outer-wrapper {
        display: flex;
        background-color: black;
        justify-content: center;
    }

    .wrapper {
        margin: 0 2vw 0 2vw;
        height: 170vh;
        width: 90%;
    }

    .card {
        height: 29vh;
        margin-bottom: 1vh;
    }

    .card:first-of-type {
        margin: 34vh 0 1vh 0;
    }

    .card:last-of-type {
        height: 29%;
    }
}