
@font-face {
    font-family: 'ShareTechMono-Regular';
    src: url('file:///C:\Users\rober\source\repos\PersonalWebsite\PersonalWebsite\wwwroot\css\Fonts\ShareTechMono-Regular.ttf') format('truetype');
}


html, body {
    margin: 0;
}

div {
    background-color: #011C26;
    height: 100%;
    width: 100%;
}

.outerDiv {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}


.flexbox-container {
    display: flex;
    margin: 50px 0px 50px 0px;
    height: 600px;
    flex-direction: row;
    justify-content:left;
    background-color: aqua;
    width: 100%;
}

.flexbox-item {
    width: 200px;
    background-color: red;
    margin: 0 10px 0 10px;
}

.flexbox-item1 {
    width: 30%;
    height: 70%;
    margin: 0 10px 0 0;
    justify-content: left;
    align-self: flex-end;
}


.flexbox-item1 .text1 {
        color: white;
}


.flexbox-item1 .text2 {
    color: white;
    font-family: 'ShareTechMono-Regular';
}


.flexbox-item2 {
    width: 40%;
}

.flexbox-item3 {
    justify-content: right;
    width: 30%;
    margin: 0  0 0 10px;
    
}

.container2 {
    height: 600px;
    display: flex;
}