@page "/"
<div class="mainframe reset-this">
    <div class="outer-wrapper reset-this">
        <div class="wrapper reset-this">
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
        </div>
    </div>
</div>

