@page "/"
<div class="mainframe reset-this">
    <div class="NameDiv"><a class="name" href=""> Roberto <br> Beltran </a></div>
    
    <div class="IntroDiv">
        <h2> 
            Hello<span class="RedPeriod">.</span> <br/>
            my name is Roberto,<br/>        
            I'm a <TypeController WordList = "list" TypeSpeed="225" />
        </h2>   
        
        

    </div>
    
    <div class="outer-wrapper reset-this">
            <div class="wrapper reset-this">
                
                <div class="card playingcard">
                    <div class="mark dark">8</div>
                    <div class="content ">
                        <h1>CRAZY</h1>
                        <h2><span class="dark">EIGHTS</span></h2>
                    </div>
                    <div class="mark upside-down bottom">8</div>
                </div>
               
                <div class="card">
                    <h2>Card</h2>
                </div>
                <div class="card">
                    <h2>Card</h2>
                </div>
            </div>
        </div>
</div>

@code
{
    readonly List<string> list = new List<string> {"Junior Developer" , " .Net Developer"};
}
