@page "/"

<div class ="outerDiv"> <div class="flexbox-container container1">
        <div class="flexbox-item flexbox-item1">
            <h3> HELLO THERE! I'M, </h3>
            <span class="name-span">Robert</span>
        </div>
        <div class="flexbox-item flexbox-item2"></div>
        <div class="flexbox-item flexbox-item3"></div>
    </div>
    <div class="flexbox-container container2">
        <div class="flexbox-item flexbox-item1"></div>
        <div class="flexbox-item flexbox-item2"></div>
        <div class="flexbox-item flexbox-item3"></div>
    </div></div>
