@page "/"
<div class="mainframe reset-this">
    
        @*<main  class="site__main">
            <div class="textdiv">
                <h1>
                    Roberto <br/>
                    Beltran<br/>
                </h1></div>
        </main>*@
    
        
        <div class="NameDiv"><a class="name" href=""> Roberto <br> Beltran </a></div>
        
        
        <div class="IntroDiv">
                <h2> Hello. <br/>
                    my name is Roberto<br/>
                    I'm a...</h2>
        </div>
      
        
        
        <div class="outer-wrapper reset-this">
            <div class="wrapper reset-this">
                <div class="card">
                    <h2>Card</h2>
                </div>
                <div class="card">
                    <h2>Card</h2>
                </div>
                <div class="card">
                    <h2>Card</h2>
                </div>
            </div>
        </div>
</div>

